body{
    background: rgb(255, 186, 57);
    font-family: 'Roboto', sans-serif;

}

.cor{
    background: white;
    border-radius: 5px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}


